<mat-card id="searchCard">
  <mat-card-header>
    <mat-card-title>Project Search</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="input-form" [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
      GitHub.com/
      <mat-form-field>
        <mat-label>GitHub Owner</mat-label>
        <input matInput placeholder="Ex. google" formControlName="owner" required>
      </mat-form-field>
      /
      <mat-form-field>
        <mat-label>GitHub Repository</mat-label>
        <input matInput placeholder="Ex. caliper" formControlName="repo" required>
      </mat-form-field>
      <button color="primary" mat-raised-button type="submit">Search</button>
    </form>
  </mat-card-content>
</mat-card>
