<mat-card id="projectDetails">
  <mat-card-header>
    <mat-card-title>Project Analysis</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!!projectMetrics">
      <h3>Project Complexity</h3>
      <p><strong>{{projectMetrics["Project"]["network_comp"]}}</strong> overall network complexity. {{projectMetrics["Project"]["network_comp_msg"]}}</p>
      <h3>Code Churn</h3>
      <p><strong>{{projectMetrics["Project"]["code_churn"]}}</strong> lines of codes added and deleted per week. {{projectMetrics["Project"]["code_churn_msg"]}}</p>
    </div>
    <div *ngIf="!!projectErrorMsg">
      <p>{{projectErrorMsg}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-raised-button (click)="this.openGitHub()">View on GitHub</button>
  </mat-card-actions>
</mat-card>
